@model TwitterCloneApp.DataAccess.person
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4>Profile</h4>
        @if (Model.user_id.Equals(Session["username"].ToString()))
        {
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(@Model => @Model.user_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(@Model => @Model.user_id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(@Model => @Model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(@Model => @Model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(@Model => @Model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(@Model => @Model.email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(@Model => @Model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(@Model => @Model.password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update Profile" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(@Model => @Model.user_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(@Model => @Model.user_id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(@Model => @Model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(@Model => @Model.fullname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(@Model => @Model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(@Model => @Model.email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                </div>                
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                       @Html.ActionLink("Follow User", "Follow", new { loginUserid = Session["username"].ToString(), followingserid = @Model.user_id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>            
        }
    </div>
</div>
<div class="col-md-2"></div>



